body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    padding: 10px;
}

.title {
    background: #e3f4ff;
    padding: 10px;
    font-size: medium;
}

div {
    margin: 10px 0px;
}

.content {
    background: #e3f4ff;
    padding: 10px;
}

.button-container {
    background: #e3f4ff;
    padding: 10px 135px;
    text-align: center;
}

button {
    background: white;
    padding: 10px 20px;
    display: block;
    border: 1px solid #eee;
}