* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;
    /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border: 1px solid #fff;
    /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    border: 1px solid #fff;
    /* For debugging */
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.date {
    border: 1px solid #fff;
    /* For debugging */
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    display: flex;
    width: 900px;
    height: 900px;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.first-item {
    order: 0;
}

.last-item {
    order: 0;
}

.subscribe,
.social {
    align-self: flex-end;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
    width: 300px;
    flex: initial;
    /* needed to override the flex 1 property
                     from footer item*/
    background-color: #5995DA;
}

.signup {
    margin-left: auto;
}