* {
    margin: 0px;
    padding: 0px;
}

body,
main {
    min-height: 100dvh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%
}

main div {
    height: 200px;
}

.awesome {
    background-color: #1F2937;
}

header {
    display: flex;
    flex: 0 0 auto;
    height: 100px;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 18%;
}

footer {
    display: flex;
    flex: 0 0 auto;
    height: 50px;
    background-color: #E5E7EB;

}