* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
main {
    min-height: 100dvh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main div {
    height: 250px;
    width: 100%;
    padding: 0 15%;
}

.awesome {
    background-color: #1F2937;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.awesome-img {
    background-color: #E5E7EB;
    height: 200px;
    width: 300px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.random {}

.quote {
    background-color: #E5E7EB;
}

.call-to-action {}

header {
    display: flex;
    flex: 0 0 auto;
    height: 60px;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 15%;
    align-items: center;
}

header h1 {
    color: #F9FAF8;
    font-size: 24px;
}

header ul {
    list-style-type: none;
    color: #E5E7EB;
    display: flex;
    gap: 10px;
}

footer {
    display: flex;
    flex: 0 0 auto;
    height: 50px;
    background-color: #1F2937;

}